*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
}
.main{
    background-color: rgb(147, 147, 241);
    height: 100vh;
    width: 100%;
    display: inline-block;
    
  

}
.orangebox{
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
    color: white;
  
    padding-top: 150px;
  padding-left: 50px;
  position: fixed;
    background-color: rgb(190, 21, 50);}

.whitebox{
    height: 100vh;
    width: 80%;
    background-color: whitesmoke;
    padding-left: 80px;
    padding-top: 180px;
    margin-left: 20%;
    overflow: auto;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    

}
img{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    border: 10px solid rgb(236, 74, 101);


}

h1{
    font-size: 70px;
}
span{
    color: rgb(190, 21, 50);
}
p{
    color: grey;
    font-size: 20px;
    
}
#Experience{
    padding-top: 220px;
}
h2{
    font-size: 45px;
}
#Education{
    padding-top: 190px;
}
#Certification{
    padding-top: 150px;
}
#Skills{
    padding-top: 230px;
}
svg{
    color: rgb(190, 21, 50);
    height: 50px;
    width: 50px;
}
a:hover{
    color: rgb(236, 74, 101);
}
svg:hover{
    color:rgb(236, 74, 101) ;
}

